h1 {
    color: #0060FD;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 46px;
    margin-left: 63px;
    font-family: "Antic Didone", serif;
}
body {
    background-color: #363B45;
    /* overflow: hidden; - чтобы страница не прокручивалась вертикально */
}
.menu, .title-page {
    color: #FBFBFB;
    font-size: 36px;
    font-family: "Raleway", serif;
    margin-bottom: 30px;
    text-shadow: 2px 4px 4px #000000;
    text-decoration: none;
}
.menu:hover {
    color: black;
    font-weight: 600;
}
.head {
    color: #0060FD;
    font-size: 24px;
    font-family: "Antic Didone", serif;
    margin-top: 0;
    margin-left: 63px;
    display: inline-block;
    position: absolute;
    padding-bottom: 3px;
}
@-webkit-keyframes border {
    from {width: 63px;}
    to {width: 532px}
}
.head:after {
    content: '';
    display: block;
    margin: 3px;
    height: 2px;
    width: 0px;
    background: black;  
    -webkit-animation-name: border; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode:var(322px);  /* Safari 4.0 - 8.0 */
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
#container {
    margin-top: 322px;
    margin-left: 219px;
    position: relative;
}
#containerAbout {
    margin-top: 159px;
    margin-left: 219px;
}
#navigation {
    display: flex;
    flex-direction: column;
}
.text {
    color: #FBFBFB;
    font-size: 24px;
    font-family: "Hind Siliguri", serif;
    max-width: 700px;
    line-height: 1.5;
    margin-left: 156px; /* потому что выравнивание вертикальное от конца фамилии */
    margin-top: 69px;
}
.flight {
    margin-top: 50px;
}
p div {
	display: inline-block;
}
/* #contact {
    display: flex;
    justify-content: center;
} */
#form {
    display: flex;
    width: 60%;
    align-items: center;

}
.field {
    color: #A9AFBD;
    background-color: #282C34;
    align-self: center;
    flex: 1;
}
.back {
    color: #FBFBFB;
    font-size: 26px;
    font-family: "Raleway", serif;
    margin-bottom: 30px;
    text-shadow: 2px 4px 4px #000000;
    text-decoration: none;
}
.back:hover {
    color: black;
    font-weight: 600;
}
.projects {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: flex-start;
    margin-bottom: 40px;
}
.pic {
    width: 300px;
}
#project {
    text-decoration: none;
    margin-right: 6vw;
    margin-bottom: 5vw;
    max-width: 250px;
}
.link {
    color: #FBFBFB;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
    margin-bottom: 0;
    margin-top: 10px;
}
.title {
    margin-top: 30px;
    font-size: 18px;
}

/* для анимациии */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

@media all and (max-width: 1300px){
    .title-page {
        margin-top: 0;
    }
    #containerAbout {
        margin-top: 120px;
    }
    #particles-js, .particles-js-canvas-el {
        max-height: 700px;
    }
}
@media all and (max-width: 1030px){
    #particles-js, .particles-js-canvas-el {
        max-height: 500px;
    }
    .text {
        margin-top: 30px;
    }
    #containerAbout {
        margin-top: 150px;
    }
    .text, .flight {
        margin-left: 70px;
    }
}
@media all and (max-width: 830px){
    #containerAbout {
        margin-left: 120px;
        margin-right: 20px;
    }
}
@media all and (max-width: 650px){
    #containerAbout {
        margin-top: 50px;
        margin-left: 100px;
    }
    .title-page {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .text, .flight {
        font-size: 18px;
        margin-top: 15px;
    }
    .back {
        font-size: 20px;
    }
    h1 {
        margin-top: 23px;
        margin-left: 31px;
        font-size: 24px;
    }
    .head {
        margin-left: 31px;
        font-size: 12px;
    }
    @-webkit-keyframes border {
        from {width: 63px;}
        to {width: 272px}
    }
    #particles-js, .particles-js-canvas-el {
        max-height: 300px;
    }
}
@media all and (max-width: 500px){
    h1 {
        margin-top: 20px;
        margin-left: 28px;
        font-size: 21px;
    }
    .head {
        margin-left: 28px;
        font-size: 9px;
    }
    @keyframes border {
        from {width: 28px;}
        to {width: 202px}
    }
    #containerAbout {
        margin-top: 102px;
        margin-left: 60px;
    }
    .title-page {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .text, .flight {
        font-size: 16px;
        margin-left: 50px;
    }
    .back {
        font-size: 19px;
    }
}
@media all and (max-width: 400px){
    #containerAbout {
        margin-top: 82px;
        margin-left: 60px;
    }
    .title-page {
        font-size: 22px;
        margin-bottom: 35px;
    }
    .text, .flight {
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 25px;
    }
    .back {
        font-size: 18px;
    }
}
@media all and (max-width: 360px){
    #containerAbout {
        margin-left: 50px;
        margin-right: 10px;
    }
}
@media all and (max-width: 250px){
    h1 {
        margin-top: 15px;
        margin-left: 14px;
        font-size: 16px;
    }
    .head {
        margin-left: 14px;
        font-size: 6px;
    }
    @-webkit-keyframes border {
        from {width: 14px;}
        to {width: 150px}
    }
    #particles-js, .particles-js-canvas-el {
        max-height: 500px;
    }
    #containerAbout {
        margin: 40px 10px 0 20px;
    }
    .title-page {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .text, .flight {
        font-size: 12px;
        margin-left: 25px;
        margin-bottom: 15px;
    }
    .back {
        font-size: 15px;
    }
}