body {
    background-color: #363B45;
    /* overflow: hidden; */
}
h1 {
    color: #0060FD;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 46px;
    margin-left: 63px;
    font-family: "Antic Didone", serif;
}
.head {
    color: #0060FD;
    font-size: 24px;
    font-family: "Antic Didone", serif;
    margin-top: 0;
    margin-left: 63px;
    display: inline-block;
    position: absolute;
    padding-bottom: 3px;
}
@keyframes border {
    from {width: 63px;}
    to {width: 532px}
}
.head:after {
    content: '';
    display: block;
    margin: 3px;
    height: 2px;
    width: 0px;
    background: black;  
    -webkit-animation-name: border; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode:var(322px);  /* Safari 4.0 - 8.0 */
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
#containerAbout {
    margin-top: 159px;
    margin-left: 219px;
}
#contact {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .text {
    color: #FBFBFB;
    max-width: 700px;
    line-height: 1.5;
    margin-left: 156px;
    margin-top: 69px;
} */
#form {
    display: flex;
    width: 50%;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;

}
.field {
    color: #A9AFBD;
    background-color: #282C34;
    /* align-self: center; */
    /* text-align: start; */
    flex: 1;
    height: 55px;
    font-size: 24px;
    font-family: "Hind Siliguri", serif;
    border: none;
    padding: 10px;
    outline: none;
}
.message {
    height: 200px;
    align-self: flex-start;
    width: block;
}
.image {
    padding: 10px;
}
#footer {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
span {
    color: #0060FD;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
}
#phrase {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
    color: #FBFBFB;
    text-shadow: 2px 4px 4px #000000;
}
#btn {
    display: flex;
    width: 50%;
    justify-content: end;
    margin: 10px;
    flex-wrap: wrap;
}
.btn {
    background-color: #282C34;
    font-size: 24px;
    font-family: "Hind Siliguri", serif;
    color: #A9AFBD;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 3px #FBFBFB;
    border-radius: 2%;
    box-shadow: 2px 3px 3px #000000;
}
#containerAbout .title-page {
    color: #FBFBFB;
    font-size: 36px;
    font-family: "Raleway", serif;
    margin-bottom: 30px;
    text-shadow: 2px 4px 4px #000000;
    text-decoration: none;
}
.back {
    color: #FBFBFB;
    font-size: 26px;
    font-family: "Raleway", serif;
    margin-bottom: 30px;
    text-shadow: 2px 4px 4px #000000;
    text-decoration: none;
}
.back:hover {
    color: black;
    font-weight: 600;
}
@media all and (max-width: 1300px){
    #containerAbout {
        margin-top: 139px;
        margin-left: 199px;
    }
    #form, #btn {
        width: 60%;
    }
}
@media all and (max-width: 1030px){
    #containerAbout {
        margin-top: 119px;
        margin-left: 179px;
    }
    #form, #btn {
        width: 65%;
    }
}
@media all and (max-width: 950px){
    #containerAbout {
        margin: 150px 0 50px 130px;
    }
}
@media all and (max-width: 920px) and (orientation: portrait){
    #containerAbout {
        margin: 150px 0 350px 130px;
    }
}
@media all and (max-width: 860px) and (orientation: portrait) and (max-height: 1300px){
    #containerAbout {
        margin-bottom: 260px;
    }
}
@media all and (max-width: 860px) and (orientation: portrait) and (max-height: 1200px){
    #containerAbout {
        margin-top: 100px;
        margin-bottom: 170px;
    }
}
@media all and (max-width: 800px) and (orientation: portrait) and (max-height: 1100px){
    #containerAbout {
        margin-bottom: 70px;
    }
}
@media all and (max-width: 660px){
    h1 {
        margin-top: 23px;
        margin-left: 31px;
        font-size: 24px;
    }
    .head {
        margin-left: 31px;
        font-size: 12px;
    }
    @keyframes border {
        from {width: 63px;}
        to {width: 272px}
    }
    #containerAbout {
        margin: 72px 0 20px 80px;
    }
    #containerAbout .title-page {
        font-size: 18px;
    }
    #contact {
        margin-top: 30px;
    }
     #form, #btn {
        width: 70%;
        margin: 5px;
    }
    .field {
        height: 35px;
        font-size: 18px;
    }
    .btn {
        font-size: 18px;
    }
    .back {
        font-size: 16px;
    }
    #footer {
        margin-top: 50px;
    }
    .image {
        width: 35px;
    }
    p {
        margin-top: 0;
    }
}
@media all and (max-width: 550px) and (orientation: portrait) and (max-height: 750px){
    #containerAbout {
        margin-bottom: 170px;
    }
}
@media all and (max-width: 500px) and (orientation: portrait) and (max-height: 860px){
    #containerAbout {
        margin-bottom: 300px;
    }
}
@media all and (max-width: 450px) and (orientation: portrait) and (max-height: 940px){
    #containerAbout {
        margin: 82px 40px 240px;
    }
    #contact {
        width: 100%;
        margin-bottom: 30px;
    }
    .message {
        height: 100px;
    }
}
@media all and (max-width: 420px) and (orientation: portrait) and (max-height: 750px){
    #containerAbout {
        margin-bottom: 80px;
    }
}
@media all and (max-width: 400px) and (orientation: portrait) and (max-height: 800px){
    #containerAbout {
        margin-bottom: 120px;
    }
}
@media all and (max-width: 390px) and (orientation: portrait) and (max-height: 850px){
    #containerAbout {
        margin-bottom: 180px;
    }
}
@media all and (max-width: 390px) and (orientation: portrait) and (max-height: 820px){
    #containerAbout {
        margin-top: 60px;
        margin-bottom: 0px;
    }
    #form, #btn {
        width: 80%;
        margin: 5px;
    }
    #contact {
        margin-bottom: 10px;
    }
    #footer {
        margin-top: 180px;
    }
}
@media all and (max-width: 390px) and (orientation: portrait) and (max-height: 670px){
    #containerAbout {
        margin-top: 60px;
        margin-bottom: 0px;
    }
    #footer {
        margin-top: 20px;
    }
}
@media all and (max-width: 360px) and (orientation: portrait) and (max-height: 750px){
    #containerAbout {
        margin-top: 60px;
    }
    #footer {
        margin-top: 120px;
    }
}
@media all and (max-width: 350px) and (orientation: portrait) and (max-height: 900px){
    #containerAbout {
        margin-bottom: 220px;
    }
    #form, #btn {
        width: 85%;
    }
}
@media all and (max-width: 350px) and (orientation: portrait) and (max-height: 600px){
    #containerAbout {
        margin-bottom: 20px;
    }
    #form, #btn {
        width: 90%;
    }
    @keyframes border {
        from {width: 14px;}
        to {width: 180px}
    }
    #contact {
        margin-top: 10px;
    }
    .field {
        height: 25px;
        font-size: 16px;
    }
    .message {
        height: 45px;
    }
    .btn {
        font-size: 16px;
    }
    #footer {
        margin-top: 60px;
    }
    .image {
        width: 25px;
        padding-bottom: 0;
    }
}
@media all and (max-width: 250px){
    h1 {
        margin-top: 15px;
        margin-left: 14px;
        font-size: 16px;
    }
    .head {
        margin-left: 14px;
        font-size: 6px;
    }
    @keyframes border {
        from {width: 14px;}
        to {width: 130px}
    }
    #containerAbout {
        margin: 22px 5px 15px 20px;
    }
    #containerAbout .title-page {
        font-size: 15px;
    }
    #form {
        margin: 3px;
    }
    .field {
        height: 18px;
        font-size: 12px;
        padding: 5px;
    }
    .message {
        height: 30px;
    }
    .btn {
        font-size: 12px;
    }
    #contact {
        margin-bottom: 0px;
    }
    #footer {
        margin-top: 5px;
    }
    .back {
        font-size: 12px;
    }
    .image {
        padding-top: 2px;
        margin-bottom: -10px;
        width: 20px;
    }
    #phrase {
        margin-top: -5px;
        font-size: 12px;
    }
    span {
        font-size: 12px;
    }
}