h1 {
    color: #0060FD;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 46px;
    margin-left: 63px;
    font-family: "Antic Didone", serif;
}
body {
    background-color: #363B45;
    /* overflow: hidden; - чтобы страница не прокручивалась вертикально */
}
.menu, .title-page {
    color: #FBFBFB;
    font-size: 36px;
    font-family: "Raleway", serif;
    margin-bottom: 30px;
    text-shadow: 2px 4px 4px #000000;
    text-decoration: none;
}
.menu:hover {
    color: black;
    font-weight: 600;
}
.head {
    color: #0060FD;
    font-size: 24px;
    font-family: "Antic Didone", serif;
    margin-top: 0;
    margin-left: 63px;
    display: inline-block;
    position: absolute;
    padding-bottom: 3px;
}
@keyframes border {
    from {width: 63px;}
    to {width: 532px}
}
.head:after {
    content: '';
    display: block;
    margin: 3px;
    height: 2px;
    width: 0px;
    background: black;  
    -webkit-animation-name: border; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode:var(322px);  /* Safari 4.0 - 8.0 */
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
#container {
    margin-top: 322px;
    margin-left: 219px;
    position: relative;
}
#containerAbout {
    margin-top: 159px;
    margin-left: 219px;
}
#navigation {
    display: flex;
    flex-direction: column;
}
.text {
    color: #FBFBFB;
    font-size: 24px;
    font-family: "Hind Siliguri", serif;
    max-width: 700px;
    line-height: 1.5;
    margin-left: 156px; /* потому что выравнивание вертикальное от конца фамилии */
    margin-top: 69px;
}
.flight {
    margin-top: 50px;
}
p div {
	display: inline-block;
}
/* #contact {
    display: flex;
    justify-content: center;
} */
#form {
    display: flex;
    width: 60%;
    align-items: center;

}
.field {
    color: #A9AFBD;
    background-color: #282C34;
    align-self: center;
    flex: 1;
}
.back {
    color: #FBFBFB;
    font-size: 26px;
    font-family: "Raleway", serif;
    margin-bottom: 30px;
    text-shadow: 2px 4px 4px #000000;
    text-decoration: none;
}
.back:hover {
    color: black;
    font-weight: 600;
}
.projects {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: flex-start;
    margin-bottom: 40px;
}
.pic {
    width: 300px;
}
#project {
    text-decoration: none;
    margin-right: 6vw;
    margin-bottom: 5vw;
    max-width: 250px;
}
.link {
    color: #FBFBFB;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
    margin-bottom: 0;
    margin-top: 10px;
}
.title {
    margin-top: 30px;
    font-size: 18px;
}

/* для анимациии (начало) */
  /* canvas {
    display: block;
    vertical-align: bottom;
  } */
/* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  /* ---- stats.js ---- */
  /* .count-particles{
    background: #000022;
    position: absolute;
    top: 55px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  } */
  /* .js-count-particles{
    font-size: 1.1em;
  }
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles{
    border-radius: 0 0 3px 3px;
  } */
/* для анимациии (конец) */
@media all and (max-width: 1300px){
    #particles-js, .particles-js-canvas-el {
        max-height: 700px;
    }
}
@media all and (max-width: 1030px){
    #particles-js, .particles-js-canvas-el {
        max-height: 500px;
    }
}
@media all and (max-width: 950px){
    #containerAbout {
        margin: 150px 0 50px 130px;
    }
    .flight {
        margin-left: 60px;
        margin-right: 60px;
    }
    .projects {
        justify-content: space-between;
    }
}
@media all and (max-width: 860px){
    #project {
        width: 50vw;
        margin-right: 1vw;
    }
}
@media all and (max-width: 720px){
    #containerAbout {
        margin-left: 110px;
        margin-top: 120px;
    }
    .title-page {
        margin-top: 0;
        font-size: 30px;
    }
    .flight {
        margin-top: 40px;
        font-size: 20px;
    }
    .pic {
        width: 200px;
    }
    #project {
        width: 30vw;
        margin-right: 1vw;
    }
    .back {
        font-size: 20px;
    }
}
@media all and (max-width: 650px){
    h1 {
        margin-top: 23px;
        margin-left: 31px;
        font-size: 24px;
    }
    .head {
        margin-left: 31px;
        font-size: 12px;
    }
    @keyframes border {
        from {width: 63px;}
        to {width: 272px}
    }
    #containerAbout {
        margin: 72px 0 20px 80px;
    }
    .title-page {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .text {
        font-size: 14px;
        margin-top: 20px;
    }
    .link {
    margin-top: 5px;
    font-size: 13px;
    }
    .title {
        margin-top: 15px;
        font-size: 15px;
    }
    #projects {
        margin-bottom: 30px;
    }
    .back {
        font-size: 16px;
    }
}
@media all and (max-width: 500px){
    #containerAbout {
        margin-left: 50px;
        margin-right: 10px;
    }
}
@media all and (max-width: 450px){
    h1 {
        margin-top: 20px;
        margin-left: 28px;
        font-size: 21px;
    }
    .head {
        margin-left: 28px;
        font-size: 9px;
    }
    @keyframes border {
        from {width: 28px;}
        to {width: 202px}
    }
    .flight {
        margin-left: 40px;
        margin-right: 40px;
    }
    #containerAbout {
        margin-top: 52px;
        margin-left: 40px;
    }
    .projects {
        width: 75vw;
    }
    #project {
        width: 35vw;
    }
    .pic {
        width: 170px;
    }
    .title {
        font-size: 14px;
    }
    .link {
        font-size: 12px;
    }
}
@media all and (max-width: 420px){
    .pic {
        width: 160px;
    }
}
@media all and (max-width: 400px){
    .pic {
        width: 150px;
    }
}
@media all and (max-width: 380px){
    .pic {
        width: 140px;
    }
}
@media all and (max-width: 350px){
    .title-page {
        font-size: 17px;
    }
    .flight {
        margin-left: 30px;
        margin-right: 30px;
    }
    .text {
        font-size: 13px;
    }
    .link {
        font-size: 10px;
    }
    .title {
        font-size: 11px;
    }
    .pic {
        width: 130px;
    }
    .projects {
        margin-bottom: 30px;
    }
    .back {
        font-size: 15px;
    }
}
@media all and (max-width: 250px){
    h1 {
        margin-top: 15px;
        margin-left: 14px;
        font-size: 16px;
    }
    .head {
        margin-left: 14px;
        font-size: 6px;
    }
    @keyframes border {
        from {width: 14px;}
        to {width: 150px}
    }
    #containerAbout {
        margin: 32px 5px 15px 20px;
    }
    .title-page {
        font-size: 14px;
    }
    .text {
        font-size: 11px;
    }
    .flight {
        margin-left: 10px;
        margin-right: 10px;
    }
    .projects {
        width: 80vw;
    }
    .link {
        font-size: 8px;
    }
    .pic {
        width: 100px;
    }
    .title {
        font-size: 10px;
    }
    .back {
        font-size: 12px;
    }
}